# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/
ENV/

# PyCharm
.idea/

# Environment variables / secrets
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/

# Logs
*.log

# Large data files
data/*.csv
data/*.xlsx

# ML model files
models/*.pkl
models/*.joblib